
:root {
    --font: avenir;
}

* {
    margin: 0;
    border: none;
}

body {
    font-family: var(--font), Helvetica;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    display: block;
}

button {
    cursor: pointer;
}

.btn-blue {
    color: white;
    background-color: rgb(90, 101, 253);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

.btn-red {
    color: white;
    background-color: rgb(255, 57, 57);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

.hidden {
    display: none;
}